<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ABxM.Core" version="1.5.4" targetFramework="net48" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.4" targetFramework="net48" />
  <package id="Grasshopper" version="7.35.23346.11001" targetFramework="net48" />
  <package id="KarambaCommon" version="2.2.0.144" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net48" />
  <package id="Piglet" version="1.5.0" targetFramework="net48" />
  <package id="RhinoCommon" version="7.35.23346.11001" targetFramework="net48" />
</packages>